version: "3.8"
services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile
    image: xuannguyenhehe/custom-jenkins:0.0.3
    container_name: jenkins
    privileged: true
    user: root
    ports:
      - 8081:8080
      - 50000:50000
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      JAVA_OPTS: "-Dhudson.security.csrf.GlobalCrumbIssuerConfiguration.DISABLE_CSRF_PROTECTION=true"

volumes:
  jenkins_home:
